@import "tailwindcss";


.container {
    max-width: 1050px;
    width: 100%;
    margin: 100px auto;
}

.container__navbar {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.container__pages {
    max-width: 1050px;
    width: 100%;
    margin: 20px auto;
}

.image {
    background: transparent;
}
